<form role="form" class="col-md-4 col-md-offset-4 form-horizontal" ng-submit="register()">
    <div class="form-group">
        <label for="username" class="col-sm-3 control-label">Username</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="username" ng-model="registerCredentials.username">
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="col-sm-3 control-label">Password</label>
        <div class="col-sm-9">
            <input type="password" class="form-control" id="password" ng-model="registerCredentials.password">
        </div>
    </div>
    <div class="form-group">
        <label for="confirmpassword" class="col-sm-3 control-label">Confirm Password</label>
        <div class="col-sm-9">
            <input type="password" class="form-control" id="confirmpassword" ng-model="registerCredentials.confirmPassword">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
    </div>
    <div class="col-sm-offset-3 col-sm-9">
        <p class="text-danger" ng-repeat="error in errors"><strong><em>{{error}}</em></strong></p>
    </div>
</form>
